#root {
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  background: linear-gradient(to left, #b26127cd, #b261273b, white, #b261273b, #b26127cd);
}

.Header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: start;
}

.Header h1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.logo {
  position: fixed;
  height: 6em;
  padding: 1.5em;
  border-radius: 70% 60% 60% 60%/ 60% 65% 70% 70%;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #ffd035);
}

.calculator{
  margin: 30px;
}

.calculator img {
  width: 35px;
}

.calculator>button:first-of-type {
  margin-right: 40px;
}

.calculator input {
  border: 1px solid #452402;
  border-radius: 4px;
  padding: 5px;
  margin: 0px 5px;
}

.calculator input:focus{
  outline: 1.5px solid #934a00;
}

.employees {
  display: block;
  margin: 40px;
}

.employees>div {
  display: inline-block;
}

.Footer ul {
  list-style: none;
}

.card {
  border: solid black 1px;
  border-radius: 5px;
  margin: 10px;
  width: 250px;
  background-color: white;
}

span {
  font-weight: 600;
}